.bankWrapper {
  display: flex;
  justify-content: space-around;
}

.register {
  width: 60%;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);

  .bankTotalLine {
    display: flex;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: #fdfa8f;

    .total {
      font-weight: bold;
      margin-left: auto;
    }
  }
}
