.bankWrapper {
  display: flex;
  justify-content: space-around;
}

.register {
  width: 60%;

  .bankTotalLine {
    display: flex;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: #fdfa8f;

    .total {
      font-weight: bold;
      margin-left: auto;
    }
  }
}
